<div class="container-fluid">

<!-- <form id="most-recent" method="get" action="/">
	<input type="submit" value="Most Recent Earthquake">
</form>

<form id="biggest-month" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past 30 Days">
</form>

<form id="biggest-week" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past 7 Days">
</form>

<form id="biggest-day" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past Day">
</form>

<form id="all-day" method="get" action="/">
	<input type="submit" value="All Earthquakes in the Past Day">
</form> -->

<div class="well">PENDING</div>
<div id='quake-info'>

</div>

<div id='map-key'>
  <img class='key-image' src="/Markers/brown_MarkerD.png"> <p class='key-text'>Draggable</p><br><br>
  <img class='key-image' src="/Markers/paleblue_MarkerA.png"> <p class='key-text'>Magnitude &lt; 0 to 0.9</p><br>
  <img class='key-image' src="/Markers/blue_MarkerA.png"><p class='key-text'>Magnitude 1.0-1.9</p><br>
  <img class='key-image' src="/Markers/pink_MarkerA.png"><p class='key-text'>Magnitude 2.0-2.9</p><br>
  <img class='key-image' src="/Markers/purple_MarkerA.png"><p class='key-text'>Magnitude 3.0-3.9</p><br>
  <img class='key-image' src="/Markers/green_MarkerA.png"><p class='key-text'>Magnitude 4.0-4.9</p><br>
  <img class='key-image' src="/Markers/darkgreen_MarkerA.png"><p class='key-text'>Magnitude 5.0-5.9</p><br>
  <img class='key-image' src="/Markers/yellow_MarkerA.png"><p class='key-text'>Magnitude 6.0-6.9</p><br>
  <img class='key-image' src="/Markers/orange_MarkerA.png"><p class='key-text'>Magnitude 7.0-9.9</p><br>
  <img class='key-image' src="/Markers/red_MarkerA.png"><p class='key-text'>Magnitude null</p><br>

</div>
<div id="map">

</div>
</div>
