<div class="container-fluid">

<!-- <form id="most-recent" method="get" action="/">
	<input type="submit" value="Most Recent Earthquake">
</form>

<form id="biggest-month" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past 30 Days">
</form>

<form id="biggest-week" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past 7 Days">
</form>

<form id="biggest-day" method="get" action="/">
	<input type="submit" value="Biggest Earthquake in the Past Day">
</form>

<form id="all-day" method="get" action="/">
	<input type="submit" value="All Earthquakes in the Past Day">
</form> -->

<div class="well">PENDING</div>
<div id='quake-info'>
	
</div>
<div id="map">

</div>
</div>